body {
    margin: 50px;
    padding: 0;
    font-family: 'poppins', sans-serif;

}

h1 {
    font-size: 50px;
    font-family: 'poppins', sans-serif;
}

h2 {
    font-size: 40px;
}

.orange-name {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;

}

.half-width {
    width: 50%;
    padding-left: 20px;
}

.half-width img {
    width: 80%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.top {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.main {
    display: flex;
}

.half {
    width: 40%;
    box-shadow: 10px 10px 20px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    border-left: ;

}

.top1 {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#border2 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#border1 {
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}

footer {
    width: 100%;
    height: 100px;
    background-color: gray;
}

footer p {
    text-align: center;
    padding-top: 40px;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: black;
}

.box {
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.parent {
    width: 900px;
    height: 370px;
    margin: auto;
    background-color: #fff;
    color: black;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding: 70px 0 0 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.parent-details {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
    color: #fff;
    padding: 70px 0 0 100px;
    overflow: hidden;
    border-radius: 20px;
    top: 100%;
    transition: 1s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.parent:hover .parent-details {
    top: 0;
}