body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-name {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;

}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}